button {
    border: none;
}

.button--add {
    background-color: green;
    border-radius: 5px;
    margin-left: 4px;


}

.button--delete, .button--complete, .button--toggle--completed, .button--toggle--deleted,
.button--uncompleted, .button--restore, .button--perm--delete{
    background-color: red;
    border-radius: 5px;
    margin-left: 4px;
    font-size: 11px;

}

#root {
    margin-left: 10px;
}

.button--complete {
    background-color: yellow;
}


.button--toggle--completed {
    background-color: aqua;

}

.button--toggle--deleted {
    background-color: purple;
}

.button--toggle--completed, .button--toggle--deleted {
    display: block;
}

.button--uncompleted{
    background-color: blueviolet;
}


.button--restore {
    background-color: goldenrod;
} 

.button--perm--delete {
    background-color: indianred;
}